aiohttp==3.8.1
tox==3.24.4
pytest==6.2.5
pytest-aiohttp==0.3.0
pytest-cov==3.0.0
pytest-runner==5.2
pytest-flakes==4.0.5
pytest-pylint==0.18.0
pytest-sugar==0.9.4
flake8==4.0.1
selenium==4.3.0
docutils==0.18.1
pygments==2.11.1
-e .
