aiohttp==3.4.4
tox==3.2.1
pytest==3.8.0
pytest-aiohttp==0.3.0
pytest-cov==2.6.0
pytest-runner==4.2
pytest-flakes==4.0.0
pytest-pylint==0.12.3
pytest-sugar==0.9.1
flake8==3.5.0
selenium==3.11.0
docutils==0.14
pygments==2.2.0
-e .
