aiohttp==3.5.4
tox==3.13.2
pytest==5.0.1
pytest-aiohttp==0.3.0
pytest-cov==2.7.1
pytest-runner==5.1
pytest-flakes==4.0.0
pytest-pylint==0.14.1
pytest-sugar==0.9.4
flake8==3.7.8
selenium==3.141.0
docutils==0.16
pygments==2.7.3
-e .
